{% extends 'base.html' %}
{% block title %}home{% endblock %}

{% block content %}
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid" alt="our locate" style="margin-top: 66px;">


    <div class="alert alert-success" role="alert">
      A simple success alert—check it out! Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, repellendus voluptas? Minus, placeat exercitationem sunt facilis voluptates rem, a aspernatur tempore dignissimos eveniet enim quos reiciendis laudantium odio animi soluta.
    </div>
<!-- fanlar -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <a href="http://", style="text-decoration: none; color:black">
          <div class="card">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="http://", style="text-decoration: none; color:black">
          <div class="card">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="http://", style="text-decoration: none; color:black">
          <div class="card">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- fanlar final -->
    
  
{% endblock %}